<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button >
        <!-- <ion-icon slot="icon-only" name='arrow-back'></ion-icon> -->
      </ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Finish</ion-title>

    <ion-buttons slot="end" id="refresh">
        <ion-icon   name='refresh-circle-outline'></ion-icon>
    </ion-buttons>


  </ion-toolbar>
</ion-header>


<ion-content >
 <ion-card>
  <div class="flex-center">
  <ion-grid>
    <ion-row>
      <ion-col>

      <div class="item">
  <ion-icon class="finish" name="checkmark-circle" color="success"></ion-icon>
    
</div>
<h2 style="text-align:center">Thank You For Submit.</h2>
</ion-col>
</ion-row>
</ion-grid>
</div>
</ion-card>
</ion-content>
